{{#if cookie.youtubeAuthTokens.access_token}}
    {{#if session.youtubeVideos.length}}
        {{#if session.youtubeVideosLoadingComplete}}
            {{#if session.youtubeChannelSnippet.thumbnails.default.url}}
                <div>
                    <img src="{{session.youtubeChannelSnippet.thumbnails.default.url}}" class="rounded-circle"/>
                </div>
            {{/if}}
            <div>
                {{#if session.youtubeChannelSnippet.title}}
                    {{session.youtubeChannelSnippet.title}} -
                {{/if}}
                {{session.youtubeVideos.length}} videos
            </div>
            {{#if session.youtubeVideosUpdateLog.length}}
                <div class="card card-body mt-2">
                    <a data-toggle="collapse" href="#updatelog" role="button" aria-expanded="false" aria-controls="collapseUpdatelog">Check the log of your last update operation</a>
                    <ul id="updatelog" class="collapse list-group mt-2">
                        {{#each session.youtubeVideosUpdateLog}}
                            <li class="list-group-item">
                                <span class="{{result}}">
                                    {{#ifCond result '===' 'success'}}
                                        OK: {{title}}
                                    {{/ifCond}}
                                    {{#ifCond result '===' 'error'}}
                                        ERROR: {{title}}
                                        <pre>{{log error}}</pre>
                                    {{/ifCond}}
                                </span>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}
            <div class="card card-body mt-5">
                <div class="row">
                    <div class="form-group col-6">
                        <label for="search">Search for...</label>
                        <input type="text" id="search" class="form-control"/>
                    </div>
                    <div class="form-group col-6">
                        <label for="replace">Replace with...</label>
                        <input type="text" id="replace" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <input type="checkbox" id="regex"/> <label for="regex">regular expression</label>
                    </div>
                    <div class="form-group col-6">
                        <input type="checkbox" id="replacenewlines"/> <label for="replacenewlines">replace \n with new line</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 text-center">
                        <button class="btn btn-success" onclick="$('.hit').removeClass('hit'); $('.videotitle.notchanged').show(); searchAndMark(); $(this).blur();">Just search</button>
                        <button class="btn btn-primary" onclick="$('.videotitle.notchanged').show(); searchAndReplace(); $(this).blur();">Search &amp; replace</button>
                    </div>
                </div>
                <div>
                    <a data-toggle="collapse" href="#templates" role="button" aria-expanded="false" aria-controls="collapseTemplates">Useful templates</a>
                </div>
                <div id="templates" class="collapse card card-body">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="javascript:void(0)" onclick="applyReplacemenetTemplate(1)">Reduce multiple empty lines to one empty line</a></li>
                        <li class="list-group-item"><a href="javascript:void(0)" onclick="applyReplacemenetTemplate(2)">Search case-insensitive</a></li>
                    </ul>
                </div>
            </div>

            <form action="/videos/update" method="post" onsubmit="$('.notchanged').remove();" class="mb-5">
                <div class="row mt-5 d-none" id="submitVideos">
                    <div class="form-group col-12 text-center">
                        <input type="submit" value="Update changed videos" class="btn btn-danger" onclick="return confirm('Send modifications to YouTube?')"/>
                    </div>
                </div>
                <ul class="list-group mt-5">
                    <li class="list-group-item">
                        <a href="javascript:void(0)" class="btn btn-primary" onclick="$('.videodescription').collapse('hide'); $('.videotitle.notchanged').toggle(); $('.videotitle.notchanged').filter('.hit').show();">Toggle not-relevant for update</a>
                    </li>
                    {{#each session.youtubeVideos}}
                        <li class="list-group-item videotitle notchanged">
                            <a data-toggle="collapse" href="#video{{@index}}" role="button" aria-expanded="false" aria-controls="collapseVideo">{{snippet.title}}</a>
                        </li>
                        <li id="video{{@index}}" class="list-group-item collapse videodescription notchanged">
                            <input type="hidden" name="videoId[]" value="{{id}}"/>
                            <textarea onchange="markVideoAsChanged($(this));" name="videoDescription[]" class="form-control video-description" style="height:300px">{{snippet.description}}</textarea>
                        </li>
                    {{/each}}
                </ul>
            </form>
        {{else}}
            {{#if session.youtubeAuthError}}
                <p class="mt-5">
                    Your authentication token became invalid. Please reauthenticate.
                </p>
                <p class="mt-5">
                    <a href="/auth/oauth" class="btn btn-success mt-3 mb-3">Reauthenticate now!</a>
                </p>
            {{else}}
                Still loading videos. {{session.youtubeVideos.length}} loaded.
                <script>reloadVideoPage();</script>
            {{/if}}
        {{/if}}
    {{else}}
        {{#if session.youtubeVideosLoading}}
            Loading videos.
            <script>reloadVideoPage();</script>
        {{else}}
            <p class="mt-5">
                Your authentication token became invalid. Please reauthenticate.
            </p>
            <p class="mt-5">
                <a href="/auth/oauth" class="btn btn-success mt-3 mb-3">Reauthenticate now!</a>
            </p>
        {{/if}}
    {{/if}}
{{else}}
    <p class="mt-5">
        To edit your videos you have to authenticate with the YouTube API.<br/>
        Please click the "Authenticate now!" button below then select your account and on the second page the YouTube channel which videos you want to edit.<br/>
        <br/>
        The authentication token is only stored in your browsers session on your local device and you have to reauthenticate every time you use this tool again.
    </p>
    <p class="mt-5">
        <a href="/auth/oauth" class="btn btn-success mt-3 mb-3">Authenticate now!</a>
    </p>
{{/if}}